replicaCount: 1

image:
  repository: ghcr.io/bcgov/pltsvc
  tag: main
  pullPolicy: Always

prePrismaImage:
  repository: ghcr.io/bcgov/pltsvc-pre-prisma
  tag: main
  pullPolicy: Always

preDataMigrationsImage:
  repository: ghcr.io/bcgov/pltsvc-pre-data-migrations
  tag: main
  pullPolicy: Always

imagePullSecrets: []
nameOverride: pltsvc-app
fullnameOverride: pltsvc-app

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 3000

route:
  enabled: false
  host:

migration:
  enabled: true

serviceAccountName:
envSecretName:
env: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
