# See https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#global-chart-values
global:
  licencePlate: 101ed4
  vault:
    # licencePlate-nonprod or licencePlate-prod
    role:
    # sub-path of the vault secret
    subPath:
    podAnnotations:
      # See https://developer.hashicorp.com/vault/docs/platform/k8s/injector/annotations#agent-annotations
      vault.hashicorp.com/auth-path: auth/k8s-silver
      vault.hashicorp.com/namespace: platform-services
      vault.hashicorp.com/agent-inject: "true"
      vault.hashicorp.com/agent-inject-token: "false"
      vault.hashicorp.com/agent-pre-populate: "true"
      vault.hashicorp.com/agent-pre-populate-only: "true"
      vault.hashicorp.com/agent-requests-cpu: 50m
      vault.hashicorp.com/agent-limits-cpu: 100m
      vault.hashicorp.com/agent-requests-mem: 32Mi
      vault.hashicorp.com/agent-limits-mem: 64Mi
  env:
    "Env": ""
    "SECURE_HEADERS": "true"
    "AUTH_TRUST_HOST": "true"

  serviceAccountName: 101ed4-vault

nameOverride: pltsvc
fullnameOverride: pltsvc

app:
  enabled: true
  image:
    pullPolicy: IfNotPresent

  prePrismaImage:
    pullPolicy: IfNotPresent

  preDataMigrationsImage:
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-app
  fullnameOverride: pltsvc-app

  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 30m
      memory: 128Mi

  env:
    "APP_ENV": ""
    "BASE_URL": ""
    "AUTH_BASE_URL": ""
    "AUTH_SERVER_URL": ""
    "AUTH_RELM": ""
    "CHES_TOKEN_URL": ""
    "CHES_API_URL": ""
    "PRIVATE_NATS_HOST": ""
    "PRIVATE_NATS_PORT": ""
    "PUBLIC_NATS_HOST": ""
    "PUBLIC_NATS_PORT": ""
    "AWS_ROLES_BASE_URL": ""
    "AWS_ROLES_IDENTITY_PROVIDER": ""
    "AWS_ROLES_REALM_NAME": ""
    "M365_URL": "https://graph.microsoft.com"
    "WEASYPRINT_URL": "http://weasyprint:8080"

  envSecretName: pltsvc # pragma: allowlist secret

email:
  enabled: true
  image:
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-email
  fullnameOverride: pltsvc-email

  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 128Mi

# See https://github.com/bitnami/charts/blob/main/bitnami/mongodb/values.yaml
mongodb:
  enabled: false

  nameOverride: pltsvc-mongodb
  fullnameOverride: pltsvc-mongodb

  architecture: replicaset
  useStatefulSet: true
  replicaCount: 3

  auth:
    enabled: true
    existingSecret: pltsvc-mongodb # pragma: allowlist secret

  persistence:
    enabled: true
    storageClass: netapp-block-standard
    size: 5Gi

  resources:
    limits:
      cpu: 1
      memory: 1500Mi
    requests:
      cpu: 0.5
      memory: 500Mi

  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false

  arbiter:
    enabled: true
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false

backup:
  enabled: true
  cronExpression: 0 1 * * *
  storageSize: 10Gi
  rocketchatPrefix:

nats:
  enabled: false
  image:
    repository: nats
    tag: 2.10.22
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-mock-nats
  fullnameOverride: pltsvc-mock-nats

  # resources:
  #   limits:
  #     cpu: 200m
  #     memory: 256Mi
  #   requests:
  #     cpu: 10m
  #     memory: 128Mi

nats-provision:
  enabled: false
  image:
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-mock-nats-provision
  fullnameOverride: pltsvc-mock-nats-provision

  env:
    "NATS_HOST": "pltsvc-mock-nats-client"
    "NATS_PORT": "4222"
    "APP_URL": "http://pltsvc-app:3000"
    "KEYCLOAK_URL": ""
    "PUBLIC_CLOUD_REALM_NAME": "public-cloud"

  # resources:
  #   limits:
  #     cpu: 200m
  #     memory: 256Mi
  #   requests:
  #     cpu: 10m
  #     memory: 128Mi

m365proxy:
  enabled: false
  image:
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-mock-m365proxy
  fullnameOverride: pltsvc-mock-m365proxy

  env: {}

  # resources:
  #   limits:
  #     cpu: 200m
  #     memory: 256Mi
  #   requests:
  #     cpu: 10m
  #     memory: 128Mi

weasyprint:
  enabled: false

  image:
    pullPolicy: IfNotPresent

  nameOverride: weasyprint
  fullnameOverride: weasyprint

mailpit:
  enabled: false
  image:
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-mailpit
  fullnameOverride: pltsvc-mailpit

  env: {}

ches-mock:
  enabled: true
  image:
    pullPolicy: IfNotPresent

  nameOverride: pltsvc-ches-mock
  fullnameOverride: pltsvc-ches-mock
