global:
  vault:
    role: 101ed4-prod
    subPath: pltsvc-prod
  env:
    "Env": "prod"

app:
  replicaCount: 2
  env:
    "APP_ENV": "prod"
    "BASE_URL": "https://registry.developer.gov.bc.ca"
    "AUTH_BASE_URL": "https://loginproxy.gov.bc.ca"
    "AUTH_SERVER_URL": "https://loginproxy.gov.bc.ca/auth"
    "AUTH_RELM": "platform-services"
    "CHES_TOKEN_URL": "https://loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token"
    "CHES_API_URL": "https://ches.api.gov.bc.ca/api/v1"
    "PRIVATE_NATS_HOST": "nats://nats.eb6118-prod.svc"
    "PRIVATE_NATS_PORT": "4222"
    "PUBLIC_NATS_HOST": "nats://nats.eb6118-prod.svc"
    "PUBLIC_NATS_PORT": "4222"
    "AWS_ROLES_BASE_URL": "https://loginproxy.gov.bc.ca/auth"
    "AWS_ROLES_IDENTITY_PROVIDER": "azureidir"
    "AWS_ROLES_REALM_NAME": "public-cloud"

  route:
    enabled: true
    host: pltsvc.apps.silver.devops.gov.bc.ca

  resources:
    requests:
      cpu: 400m
      memory: 768Mi

email:
  enabled: false
  route:
    enabled: true
    host: pltsvc-email.apps.silver.devops.gov.bc.ca

mongodb:
  enabled: true

  image:
    repository: bcgov/bitnami-mongodb
    digest: sha256:27037f7ea4f21fa5af8904332b74e6a4c03878852dd26dcbd6bfb39d4125c5c1

backup:
  cronExpression: 0 1 * * *
  storageSize: 10Gi
  rocketchatPrefix: "[Registry PROD]"

weasyprint:
  enabled: true

  image:
    # See https://github.com/bcgov/weasyprint/pkgs/container/weasyprint
    tag: d56c57fca3197c0b4f41d850158cb66605e01279 # pragma: allowlist secret
