global:
  vault:
    role: 101ed4-nonprod
    subPath: pltsvc-dev
  env:
    "Env": "dev"

app:
  enabled: true
  env:
    "APP_ENV": "dev"
    "BASE_URL": "https://dev-pltsvc.apps.silver.devops.gov.bc.ca"
    "AUTH_BASE_URL": "https://dev.loginproxy.gov.bc.ca"
    "AUTH_SERVER_URL": "https://dev.loginproxy.gov.bc.ca/auth"
    "AUTH_RELM": "platform-services"
    "CHES_TOKEN_URL": "https://dev.loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token"
    "CHES_API_URL": "http://pltsvc-ches-mock.101ed4-dev:3025"
    "PRIVATE_NATS_HOST": "pltsvc-mock-nats-client"
    "PRIVATE_NATS_PORT": "4222"
    "PUBLIC_NATS_HOST": "pltsvc-mock-nats-client"
    "PUBLIC_NATS_PORT": "4222"
    "AWS_ROLES_BASE_URL": "https://dev.loginproxy.gov.bc.ca/auth"
    "AWS_ROLES_IDENTITY_PROVIDER": "azureidir"
    "AWS_ROLES_REALM_NAME": "public-cloud"

  route:
    enabled: true
    host: dev-pltsvc.apps.silver.devops.gov.bc.ca

  migration:
    enabled: true

email:
  route:
    enabled: true
    host: dev-pltsvc-email.apps.silver.devops.gov.bc.ca

mongodb:
  enabled: true

  image:
    repository: ghcr.io/bcgov/bitnami-mongodb
    digest: sha256:27037f7ea4f21fa5af8904332b74e6a4c03878852dd26dcbd6bfb39d4125c5c1

backup:
  cronExpression: 0 1 * * *
  storageSize: 10Gi
  rocketchatPrefix: "[Registry DEV]"

nats:
  enabled: true

nats-provision:
  enabled: true
  env:
    "KEYCLOAK_URL": "https://dev.loginproxy.gov.bc.ca/auth"

weasyprint:
  enabled: true

  image:
    # See https://github.com/bcgov/weasyprint/pkgs/container/weasyprint
    tag: d56c57fca3197c0b4f41d850158cb66605e01279 # pragma: allowlist secret

ches-mock:
  enabled: true

  route:
    enabled: false
    host: dev-pltsvc-ches-mock.apps.silver.devops.gov.bc.ca

  env:
    "SMTP_USERNAME": ""
    "SMTP_PASSWORD": ""
    "SMTP_HOST": "pltsvc-mailpit"
    "SMTP_PORT": "1025"

mailpit:
  enabled: true

  route:
    enabled: true
    host: dev-pltsvc-mailpit.apps.silver.devops.gov.bc.ca
