global:
  vault:
    role: 101ed4-nonprod
    subPath: pltsvc-test
  env:
    "Env": "test"

app:
  env:
    "APP_ENV": "test"
    "BASE_URL": "https://test-pltsvc.apps.silver.devops.gov.bc.ca"
    "AUTH_BASE_URL": "https://test.loginproxy.gov.bc.ca"
    "AUTH_SERVER_URL": "https://test.loginproxy.gov.bc.ca/auth"
    "AUTH_RELM": "platform-services"
    "CHES_TOKEN_URL": "https://dev.loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token"
    "CHES_API_URL": "https://ches-dev.api.gov.bc.ca/api/v1/"
    "NATS_HOST": "nats://nats.eb6118-test.svc"
    "NATS_PORT": "4222"

  route:
    enabled: true
    host: test-pltsvc.apps.silver.devops.gov.bc.ca

email:
  route:
    enabled: true
    host: test-pltsvc-email.apps.silver.devops.gov.bc.ca

mongodb:
  enabled: true

backup:
  cronExpression: 0 1 * * *
  storageSize: 10Gi
  rocketchatPrefix: "[Registry TEST]"
