{{- $deploymentTag := .Values.image.tag | default .Chart.AppVersion -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- $podAnnotations := merge (.Values.podAnnotations | default dict) (.Values.global.vault.podAnnotations | default dict) -}}
      {{- with $podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        vault.hashicorp.com/role: {{ .Values.global.vault.role }}
        vault.hashicorp.com/agent-inject-secret-secrets.env: {{ .Values.global.vault.role }}/{{ .Values.global.vault.subPath }}
        vault.hashicorp.com/agent-inject-template-secrets.env: |
          {{`{{ with secret "`}}{{ .Values.global.vault.role }}/{{ .Values.global.vault.subPath }}{{`" -}}
            export AUTH_RESOURCE='{{ .Data.data.AUTH_RESOURCE }}'
            export AUTH_SECRET='{{ .Data.data.AUTH_SECRET }}'
            export NEXTAUTH_SECRET='{{ .Data.data.NEXTAUTH_SECRET }}'
            export KEYCLOAK_ADMIN_CLIENT_ID='{{ .Data.data.KEYCLOAK_ADMIN_CLIENT_ID }}'
            export KEYCLOAK_ADMIN_CLIENT_SECRET='{{ .Data.data.KEYCLOAK_ADMIN_CLIENT_SECRET }}'
            export MS_GRAPH_API_AUTHORITY='{{ .Data.data.MS_GRAPH_API_AUTHORITY }}'
            export MS_GRAPH_API_CLIENT_ID='{{ .Data.data.MS_GRAPH_API_CLIENT_ID }}'
            export MS_GRAPH_API_CLIENT_SECRET='{{ .Data.data.MS_GRAPH_API_CLIENT_SECRET }}'
            export DATABASE_URL='{{ .Data.data.DATABASE_URL }}'
            export CHES_CLIENT_ID='{{ .Data.data.CHES_CLIENT_ID }}'
            export CHES_CLIENT_SECRET='{{ .Data.data.CHES_CLIENT_SECRET }}'
            export AWS_ROLES_CLIENT_ID='{{ .Data.data.AWS_ROLES_CLIENT_ID }}'
            export AWS_ROLES_CLIENT_SECRET='{{ .Data.data.AWS_ROLES_CLIENT_SECRET }}'
            export CLAB_SERVICE_ACCOUNT_TOKEN='{{.Data.data.CLAB_SERVICE_ACCOUNT_TOKEN}}'
            export KLAB_SERVICE_ACCOUNT_TOKEN='{{.Data.data.KLAB_SERVICE_ACCOUNT_TOKEN}}'
            export KLAB2_SERVICE_ACCOUNT_TOKEN='{{.Data.data.KLAB2_SERVICE_ACCOUNT_TOKEN}}'
            export SILVER_SERVICE_ACCOUNT_TOKEN='{{.Data.data.SILVER_SERVICE_ACCOUNT_TOKEN}}'
            export GOLD_SERVICE_ACCOUNT_TOKEN='{{.Data.data.GOLD_SERVICE_ACCOUNT_TOKEN}}'
            export GOLDDR_SERVICE_ACCOUNT_TOKEN='{{.Data.data.GOLDDR_SERVICE_ACCOUNT_TOKEN}}'
            export EMERALD_SERVICE_ACCOUNT_TOKEN='{{.Data.data.EMERALD_SERVICE_ACCOUNT_TOKEN}}'
            export PUBLIC_ADMIN_EMAILS='{{.Data.data.PUBLIC_ADMIN_EMAILS}}'
            export PRIVATE_ADMIN_EMAILS='{{.Data.data.PRIVATE_ADMIN_EMAILS}}'
            export KLAB_METRICS_READER_TOKEN='{{.Data.data.KLAB_METRICS_READER_TOKEN}}'
          {{- end }}`}}
      labels:
        {{- include "app.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- $imagePullSecrets := concat (.Values.imagePullSecrets | default list) (.Values.global.imagePullSecrets | default list) -}}
      {{- with $imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ default .Values.global.serviceAccountName .Values.serviceAccountName }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ $deploymentTag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/sh", "-c"]
          args:
            ['. /vault/secrets/secrets.env && /app/node_modules/.bin/next start']
          env:
            - name: DEPLOYMENT_TAG
              value: {{ $deploymentTag | quote }}
          {{- $env := merge (.Values.global.env | default dict) (.Values.env | default dict) -}}
            {{ range $k, $v := $env }}
            - name: {{ $k | quote }}
              value: {{ $v | quote }}
            {{- end }}
          {{- if .Values.envSecretName }}
          envFrom:
            - secretRef:
                name: {{ .Values.envSecretName }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
