**/*
!maintenance
!app
!sandbox/types.ts
!sandbox/mock-users.json
!sandbox/keycloak-provision/**
!sandbox/_packages/**
!sandbox/nats-provision/**
!sandbox/m365mock/**
!data-migrations/
!data-migrations/package.json
!data-migrations/migrate-mongo-config.js
!data-migrations/migrations/**
!.prettierignore
!.prettierrc
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
**/node_modules
app/.next
app/.react-email
