DATABASE_URL="mongodb+srv://<username>:<password>@<host>/<database>?retryWrites=true&w=majority"

AUTH_RELM="platform-services"
AUTH_SERVER_URL="https://dev.loginproxy.gov.bc.ca/auth"
AUTH_RESOURCE="registry-web"
AUTH_SECRET="abcd"
SECRET="abcd"

NEXTAUTH_SECRET="abc"

MS_GRAPH_API_CLIENT_ID="123"
MS_GRAPH_API_CLIENT_SECRET="123"