# Node
NODE_ENV=development
NODE_PATH=/home/nodejs/app/server
PORT=8100

# Database
POSTGRES_PASSWORD=
APP_DB_NAME=registry
APP_DB_USER=
APP_DB_PASSWORD=
FLYWAY_PASSWORD=
FLYWAY_USER=
FLYWAY_PLACEHOLDERS_USERNAME=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_APP_ID=
GITHUB_ORGANIZATION="bcgov bcdevops"

# SSO
SSO_CLIENT_SECRET=
SSO_BASE_URL=

# Common Email Service
CHES_BASEURL=
CHES_SSO_TOKEN_URL=
CHES_SSO_CLIENT_ID=
CHES_SSO_CLIENT_SECRET=

# Cluster and Namespace URLS
SILVER_CLUSTER_URL=
GOLD_CLUSTER_URL=
