APP_ENV=localdev

BASE_URL=http://localhost:3000
DATABASE_URL=mongodb://mongodb:mongodb@localhost:27017/pltsvc?authSource=admin

NEXTAUTH_SECRET=changeme

# See https://github.com/nextauthjs/next-auth/issues/600#issuecomment-1784736042
AUTH_TRUST_HOST=true

AUTH_BASE_URL=http://localhost:8080
AUTH_SERVER_URL=http://localhost:8080
AUTH_RELM=platform-services
AUTH_RESOURCE=pltsvc
AUTH_SECRET=testsecret

M365_PROXY_URL=http://localhost:8000
OIDC_AUTHORITY=https://localhost:8443/realms/platform-services

CHES_TOKEN_URL=
CHES_CLIENT_ID=
CHES_CLIENT_SECRET=
CHES_API_URL=

# Local Environment Only
SECURE_HEADERS=false
NODE_TLS_REJECT_UNAUTHORIZED=0
