**/*.jsx
**/*.tsx
**/*.mjs
**/*.yml
**/*.md
**/*.json
.swc
.vscode
node_modules
app
docs
helm
terraform
localdev/mnt
localdev/ches-mock/build
localdev/keycloak-provision/build
localdev/m365mock/build
localdev/nats-provision/build
