footer {
  background-color: #036;
  border-top: 2px solid #fcba19;
  color: #fff;
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  position: fixed;
  bottom: 0px;
  height: 46px;
  width: 100%;
}
  
footer ul {
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

footer ul li a {
  font-size: 0.813em;
  font-weight: normal;  /* 400 */
  color: #fff;
  border-right: 1px solid #4b5e7e;
  padding-left: 5px;
  padding-right: 5px;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}
