replicaCount: 1

# https://hub.docker.com/r/axllent/mailpit/tags
image:
  repository: axllent/mailpit
  tag: latest
  pullPolicy: Always

imagePullSecrets: []
nameOverride: mailpit
fullnameOverride: mailpit

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  http:
    type: ClusterIP
    port: 8025
  smtp:
    type: ClusterIP
    port: 1025

route:
  enabled: true
  targetPort: http

serviceAccountName:
envSecretName:
env: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes:
  - name: mailpit-data
    persistentVolumeClaim:
      claimName: pltsvc-mailpit

# Additional volumeMounts on the output Deployment definition.
volumeMounts:
  - name: mailpit-data
    mountPath: /var/lib/mailpit

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: true
  size: 200Mi
  storageClassName: netapp-file-standard
  existingClaim: pltsvc-mailpit
