APP_ENV=localdev

BASE_URL=http://localhost:3000
DATABASE_URL=mongodb://mongodb:mongodb@localhost:27017/pltsvc?authSource=admin

NEXTAUTH_SECRET=changeme

# See https://github.com/nextauthjs/next-auth/issues/600#issuecomment-1784736042
AUTH_TRUST_HOST=true

AUTH_BASE_URL=http://localhost:8080
AUTH_SERVER_URL=http://localhost:8080
AUTH_RELM=platform-services
AUTH_RESOURCE=pltsvc
AUTH_SECRET=testsecret

KEYCLOAK_ADMIN_CLIENT_ID=pltsvc-admin-cli
KEYCLOAK_ADMIN_CLIENT_SECRET=testsecret

M365_URL=http://localhost:4040
MS_GRAPH_API_AUTHORITY=
MS_GRAPH_API_CLIENT_ID=
MS_GRAPH_API_CLIENT_SECRET=
USE_M365_PROXY=false

CHES_TOKEN_URL=
CHES_CLIENT_ID=
CHES_CLIENT_SECRET=
CHES_API_URL=

CHES_MOCK_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMPT_HOST_NAME=
SMPT_PORT=

WEASYPRINT_URL=http://localhost:8090

CLAB_SERVICE_ACCOUNT_TOKEN=
KLAB_SERVICE_ACCOUNT_TOKEN=
KLAB2_SERVICE_ACCOUNT_TOKEN=
GOLDDR_SERVICE_ACCOUNT_TOKEN=
GOLD_SERVICE_ACCOUNT_TOKEN=
SILVER_SERVICE_ACCOUNT_TOKEN=
EMERALD_SERVICE_ACCOUNT_TOKEN=

CLAB_METRICS_READER_TOKEN=
KLAB_METRICS_READER_TOKEN=
KLAB2_METRICS_READER_TOKEN=
GOLDDR_METRICS_READER_TOKEN=
GOLD_METRICS_READER_TOKEN=
SILVER_METRICS_READER_TOKEN=
EMERALD_METRICS_READER_TOKEN=

AWS_ROLES_BASE_URL=http://localhost:8080
AWS_ROLES_CLIENT_ID=roles
AWS_ROLES_CLIENT_SECRET=testsecret
AWS_ROLES_REALM_NAME=public-cloud

PRIVATE_NATS_HOST=localhost
PRIVATE_NATS_PORT=4222
PUBLIC_NATS_HOST=localhost
PUBLIC_NATS_PORT=4222

# Local Environment Only
SECURE_HEADERS=false
M365_PROXY_URL=http://localhost:8000
OIDC_AUTHORITY=https://localhost:8443/realms/platform-services

NODE_TLS_REJECT_UNAUTHORIZED=0
