# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# react-email
.react-email
emails-export
.scannerwork
/app/admin-tools/output/system-merge-candidates-2026-05-20T21-50-22.858Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-20T21-50-22.858Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-20T21-51-05.998Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-20T21-51-05.998Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-20T21-55-09.882Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-20T21-55-09.882Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T05-05-43.228Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T05-05-43.228Z.md
/app/admin-tools/output/team-merge-candidates-2026-05-21T12-33-51.439Z.json
/app/admin-tools/output/team-merge-candidates-2026-05-21T12-33-51.439Z.md
/app/admin-tools/output/team-merge-candidates-2026-05-21T12-46-06.436Z.csv
/app/admin-tools/output/team-merge-candidates-2026-05-21T12-46-06.436Z.json
/app/admin-tools/output/team-merge-candidates-2026-05-21T12-46-06.436Z.md
/app/admin-tools/output/team-merge-candidates-2026-05-21T12-46-06.436Z.numbers
/app/admin-tools/input/division_apps.csv
/app/admin-tools/input/division_staff.csv
/app/admin-tools/output/division-import-analysis-2026-05-21T16-27-46.247Z.json
/app/admin-tools/output/division-import-analysis-2026-05-21T16-27-46.247Z.md
/app/admin-tools/output/division-import-run-2026-05-21T16-53-01.964Z.json
/app/admin-tools/output/division-import-run-2026-05-21T16-57-02.374Z.json
/app/admin-tools/output/division-system-import-review-2026-05-21T16-27-46.247Z.csv
/app/admin-tools/output/imported-system-org-mapping-2026-05-21T20-58-01.940Z.csv
/app/admin-tools/output/imported-system-org-mapping-2026-05-21T20-58-01.940Z.json
/app/admin-tools/output/imported-system-org-mapping-2026-05-21T20-58-01.940Z.md
/app/admin-tools/output/imported-system-org-mapping-2026-05-21T21-02-52.394Z.csv
/app/admin-tools/output/imported-system-org-mapping-2026-05-21T21-02-52.394Z.json
/app/admin-tools/output/imported-system-org-mapping-2026-05-21T21-02-52.394Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T18-45-20.744Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T18-45-20.744Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T18-53-08.094Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T18-53-08.094Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T18-57-08.439Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T18-57-08.439Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T19-02-20.437Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T19-02-20.437Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T19-05-13.570Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T19-05-13.570Z.md
/app/admin-tools/output/system-merge-candidates-2026-05-21T19-07-10.172Z.json
/app/admin-tools/output/system-merge-candidates-2026-05-21T19-07-10.172Z.md
