apiVersion: v2
name: airflow
description: A Helm chart for Security Dashboard Airflow
type: application
version: 0.1.0
appVersion: "0.1.0"
dependencies:
  - name: airflow
    version: "1.15.0"
    repository: "https://airflow.apache.org/"
    condition: airflow.enabled
  - name: postgresql
    version: "13.3.0"
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: sonarqube
    version: "10.8.1"
    repository: https://SonarSource.github.io/helm-chart-sonarqube
    condition: sonarqube.enabled
