apiVersion: v2
name: airflow
description: A Helm chart for Security Dashboard Airflow
type: application
version: 0.1.0
appVersion: "0.1.0"
dependencies:
  # helm repo add airflow https://airflow.apache.org
  # helm search repo airflow/airflow --versions
  - name: airflow
    version: "1.19.0"
    repository: "https://airflow.apache.org/"
    condition: airflow.enabled
  - name: postgresql
    version: "18.4.0"
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: sonarqube
    version: "2026.1.0"
    repository: https://SonarSource.github.io/helm-chart-sonarqube
    condition: sonarqube.enabled
  - name: minio
    version: "5.4.0"
    repository: https://charts.min.io/
    condition: minio.enabled
  - name: mongodb
    version: '18.6.0' #8.0.4
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
  - name: sorry-cypress
    alias: sorrycypress
    version: '1.20.0' #2.5.11
    repository: https://sorry-cypress.github.io/charts
    condition: sorrycypress.enabled
