apiVersion: batch/v1
kind: Job
metadata:
  name: airflow-init-db
spec:
  template:
    spec:
      containers:
      - name: airflow-init-db
        image: apache/airflow
        args: ["db", "init"]
        env:
          - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
            value: postgresql://<username>:<password>@secdash-postgresql:5432/airflow # pragma: allowlist secret
      restartPolicy: Never
