global:
  env:
    "Env": "tools"

airflow:
  enabled: true
  route:
    host: secdash-airflow.apps.silver.devops.gov.bc.ca

sonarqube:
  enabled: true
  route:
    host: secdash-sonarqube.apps.silver.devops.gov.bc.ca

postgresql:
  enabled: true
