name: 21.Build and Push Sandbox Images

on:
  push:
    branches:
    - main
    paths:
    - .github/workflows/build-push-sandbox.yml
    - sandbox/**

env:
  GITHUB_REGISTRY: ghcr.io

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-push-keycloak:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Build and Push
      uses: egose/actions/docker-build-push@1e834e0c52bba053b6929a7b27938290923a9ff8
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-sandbox-keycloak
        docker-context: sandbox/keycloak
        docker-file: sandbox/keycloak/Dockerfile
        metadata-tags: |
          type=raw,value=latest

  build-push-keycloak-provision:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Build and Push
      uses: egose/actions/docker-build-push@1e834e0c52bba053b6929a7b27938290923a9ff8
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-sandbox-keycloak-provision
        docker-context: sandbox
        docker-file: sandbox/keycloak-provision/Dockerfile
        metadata-tags: |
          type=raw,value=latest

  build-push-m365proxy:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Build and Push
      uses: egose/actions/docker-build-push@1e834e0c52bba053b6929a7b27938290923a9ff8
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-sandbox-m365proxy
        docker-context: sandbox/m365proxy
        docker-file: sandbox/m365proxy/Dockerfile
        metadata-tags: |
          type=raw,value=latest

  build-push-m365mock:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Build and Push
      uses: egose/actions/docker-build-push@1e834e0c52bba053b6929a7b27938290923a9ff8
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-sandbox-m365mock
        docker-context: sandbox
        docker-file: sandbox/m365mock/Dockerfile
        metadata-tags: |
          type=raw,value=latest

  build-push-nats-provision:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Build and Push
      uses: egose/actions/docker-build-push@1e834e0c52bba053b6929a7b27938290923a9ff8
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-sandbox-nats-provision
        docker-context: sandbox
        docker-file: sandbox/nats-provision/Dockerfile
        metadata-tags: |
          type=raw,value=latest

  build-push-ches-mock:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Build and Push
      uses: egose/actions/docker-build-push@1e834e0c52bba053b6929a7b27938290923a9ff8
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-sandbox-ches-mock
        docker-context: sandbox
        docker-file: sandbox/ches-mock/Dockerfile
        metadata-tags: |
          type=raw,value=latest
