name: 22.Build and Push Tools Images

on:
  push:
    branches:
    - main
    paths:
    - .github/workflows/build-push-tools.yml
    - tools/**
  workflow_dispatch:

env:
  GITHUB_REGISTRY: ghcr.io

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-push-airflow:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Build and Push
      uses: egose/actions/docker-build-push@fb7c0ce76762ce2b5bc5d081efe23aed7dd854bb
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-tools-airflow
        docker-context: tools/airflow
        docker-file: tools/airflow/Dockerfile
        metadata-tags: |
          type=sha,format=long,prefix=,suffix=

  build-push-zap:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Build and Push
      uses: egose/actions/docker-build-push@fb7c0ce76762ce2b5bc5d081efe23aed7dd854bb
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-tools-zap
        docker-context: tools/zap
        docker-file: tools/zap/Dockerfile
        metadata-tags: |
          type=sha,format=long,prefix=,suffix=

  build-push-sonarscan:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
      packages: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Build and Push
      uses: egose/actions/docker-build-push@fb7c0ce76762ce2b5bc5d081efe23aed7dd854bb
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-tools-sonarscan
        docker-context: tools/sonarscan
        docker-file: tools/sonarscan/Dockerfile
        metadata-tags: |
          type=sha,format=long,prefix=,suffix=
