name: 23.Build and Push Maintenance Image

on:
  push:
    branches:
    - main
    paths:
    - maintenance/**
    - .github/workflows/build-push-maintenance.yml

env:
  GITHUB_REGISTRY: ghcr.io

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write
  contents: read

jobs:
  build-push-maintenance:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

    - name: Build and Push Docker Image
      uses: egose/actions/docker-build-push@efab35116a4e24f81385dc9a7a711d358c87bca7
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/pltsvc-maintenance
        docker-context: maintenance
        docker-file: maintenance/Dockerfile
        docker-args: |
          deployment_tag=${{ github.sha }}
        metadata-tags: |
          type=ref,event=branch
          type=sha,format=long,prefix=,suffix=
