name: 32.Run E2E Tests

on:
  push:
    paths-ignore:
    - data-migrations/**
    - helm/**
    - terraform/**
    - tools/**

  workflow_dispatch:

jobs:
  e2e:
    runs-on: ubuntu-22.04
    timeout-minutes: 40
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Run App build
      run: npm run build
      working-directory: app

    - name: Setup Sandbox & Cypress
      uses: ./.github/actions/setup-sandbox
      with:
        script: |
          cp app/.env.example app/.env.test
          npm start --prefix app &
          node_modules/.bin/wait-on http://localhost:3000 --timeout 120000
          pnpm cypress-headless

    - name: Upload Cypress Screenshots and Videos
      if: ${{ failure() }}
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: cypress-artifacts
        path: |-
          /home/runner/work/platform-services-registry/platform-services-registry/cypress/screenshots
          /home/runner/work/platform-services-registry/platform-services-registry/cypress/videos

    - name: Clean Up Sandbox Environment
      run: |
        ~/.docker/cli-plugins/docker-compose -f sandbox/docker-compose.yml down
        sudo rm -rf ./sandbox/mnt
