name: 03.Deploy Prod Environment

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    permissions:
      contents: read
    environment:
      name: prod
      url: https://registry.developer.gov.bc.ca

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        ref: main

    - name: Authenticate and set context
      uses: redhat-actions/oc-login@dfbd9912672664f9df2023c1c16e07bcf306043c
      with:
        openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: true

    - name: Deploy apps with Helm chart
      run: |
        vtag=${{ github.event.release.tag_name }}
        make upgrade NAMESPACE=${{ vars.OPENSHIFT_NAMESPACE }} IMAGE_TAG=${vtag//v}
        kubectl rollout status deployment/pltsvc-app
      working-directory: ./helm/main

    - name: Notify RocketChat on Success
      if: success()
      uses: ./.github/actions/rocketchat-notification
      with:
        webhook-url: ${{ secrets.ROCKETCHAT_WEBHOOK_URL }}
        data: |
          {
            "text": ":rocket: Deployment to Prod was successful! Read the changes here [${{ github.event.release.tag_name }}](https://github.com/bcgov/platform-services-registry/blob/main/CHANGELOG.md#${{ github.event.release.tag_name }})"
          }

    - name: Notify RocketChat on Failure
      if: failure()
      uses: ./.github/actions/rocketchat-notification
      with:
        webhook-url: ${{ secrets.ROCKETCHAT_WEBHOOK_URL }}
        data: |
          {
            "text": ":warning: Deployment to Prod failed! [Investigate here](https://github.com/bcgov/platform-services-registry/)"
          }
