name: TEST - build from master

on:
  # Build for Test when a pull request is merged into master with changes to
  # certain api, db, or web files.
  # If triggered manually, run all steps.
  # ------------------------------------------------------------------------
  push:
    branches:
      - master
    paths:
      - "api/src/**/*.ts"
      - "api/package*.json"
      - "db/sql/*.sql"
      - "web/src/**/*.ts"
      - "web/src/**/*.tsx"
      - "web/package*.json"
      - "web/public/**/*"
      - "web/Caddyfile"
  workflow_dispatch:

jobs:

  # This action (dorny/paths-filter) allows us to selectively run jobs based on
  # the files that have been updated, as in on.push.paths above.
  # Saves us from doing unnecessary builds.
  # ---------------------------------------------------------------------------
  check_for_component_changes:
    runs-on: ubuntu-latest
    outputs:
      db: ${{ steps.filter.outputs.db }}
      api: ${{ steps.filter.outputs.api }}
      web: ${{ steps.filter.outputs.web }}
    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          db:
            - 'db/**'
          api:
            - 'api/**'
          web:
            - 'web/**'

    # Prepare to update Kustomize files in the manifest repo
    # ------------------------------------------------------
    - name: Prepare deploy key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.MANIFEST_REPO_DEPLOY_KEY }}
    - name: Check out manifest repo
      uses: actions/checkout@v2
      with:
        ssh-key: ${{ secrets.MANIFEST_REPO_DEPLOY_KEY }}
        repository: ${{ secrets.MANIFEST_REPO }}
    - name: Set up Kustomize
      uses: imranismail/setup-kustomize@v1
    - name: Set global git config
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

  db_build_if_needed:
    needs: check_for_component_changes
    runs-on: ubuntu-latest
    steps:
      # Build the DB image from master only if there are DB updates
      # Get its build ID
      # Get the commit ID of that build
      # Get the SHA256 signature of the image
      # Tag the image with the commit ID and "test"
      # -----------------------------------------------------------
      - name: Build and tag the image
        id: build-db-image
        if: ${{ needs.check_for_component_changes.outputs.db == 'true' || github.event_name == 'workflow_dispatch' }}
        run: |
          oc version
          oc login --token=${{ secrets.OpenShiftToken }} --server=${{ secrets.OpenShiftServerURL }}
          oc -n platform-registry-tools start-build platsrv-registry-flyway-master-build --follow
          export BUILDID="$(oc -n platform-registry-tools get -o=jsonpath="{.status.lastVersion}" buildconfig platsrv-registry-flyway-master-build)"
          export COMMITID="$(oc -n platform-registry-tools get -o=jsonpath="{.spec.revision.git.commit}" build platsrv-registry-flyway-master-build-$BUILDID | cut -c1-7)"
          export IMAGESHA="$(oc -n platform-registry-tools get -o=jsonpath="{.status.output.to.imageDigest}" build platsrv-registry-flyway-master-build-$BUILDID)"
          oc -n platform-registry-tools tag platsrv-registry-flyway@$IMAGESHA platsrv-registry-flyway:$COMMITID platsrv-registry-flyway:test
          echo "::set-output name=imagesha::$IMAGESHA"

      - name: Check test result
        if: ${{ failure() }}
        env:
          ROCKETCHAT_MESSAGE: "There was an error in the registry app DB tests during the ${{ github.workflow }} workflow.  See: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        run: |
          curl -X POST -H 'Content-Type: application/json' --data '{"text":"${{ env.ROCKETCHAT_MESSAGE }}"}' "${{ secrets.ROCKETCHAT_HOOK_URL }}"
          exit 1

      - name: Update DB image ID
        if: ${{ success() }}
        run: | 
          cd platform-registry-app/overlays/test
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          kustomize edit set image "registry-flyway-image=image-registry.openshift-image-registry.svc:5000/platform-registry-tools/platsrv-registry-flyway@${{ steps.build-db-image.outputs.imagesha }}"
          git commit -am "Update flyway image ID for Test"
          git push origin

  api_test:
    needs: [db_build_if_needed]
    if: ${{ needs.check_for_component_changes.outputs.api == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "12"
      - name: Install dependencies
        run: npm ci
      - name: Unit tests w/ coverage
        run: npm run test:coverage
      - name: LINTing
        run: npm run test:lint
      - name: OpenAPI Schema
        run: npm run test:schema
      - name: Upload coverage report
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.TestReporterID }}
          CI: "true"
        run: |
          curl -Ls https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter format-coverage -t lcov -o codeclimate.json
          ./cc-test-reporter upload-coverage -i codeclimate.json

      - name: Check test result
        if: ${{ failure() }}
        env:
          ROCKETCHAT_MESSAGE: "There was an error in the registry app API tests during the ${{ github.workflow }} workflow.  See: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        run: |
          curl -X POST -H 'Content-Type: application/json' --data '{"text":"${{ env.ROCKETCHAT_MESSAGE }}"}' "${{ secrets.ROCKETCHAT_HOOK_URL }}"
          exit 1

  api_build:
    needs: [api_test]
    if: ${{ needs.check_for_component_changes.outputs.api == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: npm install and build
        run: |
          npm ci
          npm run build --if-present
        env:
          CI: "true"

  api_s2i-build:
    needs: [api_build]
    if: ${{ needs.check_for_component_changes.outputs.api == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      # Build the image using the master build config
      # Get its build ID
      # Get the commit ID of that build
      # Get the SHA256 signature of the image
      # Tag the image with the commit ID and "test"
      # ---------------------------------------------
      - name: Build and tag the image
        id: build-api-image
        run: |
          oc version
          oc login --token=${{ secrets.OpenShiftToken }} --server=${{ secrets.OpenShiftServerURL }}
          oc -n platform-registry-tools start-build platsrv-registry-api-master-build --follow
          export BUILDID="$(oc -n platform-registry-tools get -o=jsonpath="{.status.lastVersion}" buildconfig platsrv-registry-api-master-build)"
          export COMMITID="$(oc -n platform-registry-tools get -o=jsonpath="{.spec.revision.git.commit}" build platsrv-registry-api-master-build-$BUILDID | cut -c1-7)"
          export IMAGESHA="$(oc -n platform-registry-tools get -o=jsonpath="{.status.output.to.imageDigest}" build platsrv-registry-api-master-build-$BUILDID)"
          oc -n platform-registry-tools tag platsrv-registry-api@$IMAGESHA platsrv-registry-api:$COMMITID platsrv-registry-api:test
          echo "::set-output name=imagesha::$IMAGESHA"

      - name: Update API image ID
        if: ${{ success() }}
        run: |
          cd platform-registry-app/overlays/test
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          kustomize edit set image "registry-api-image=image-registry.openshift-image-registry.svc:5000/platform-registry-tools/platsrv-registry-api@${{ steps.build-api-image.outputs.imagesha }}"
          git commit -am "Update API image ID for Test"
          git push origin

  web_test:
    needs: [db_build_if_needed]
    if: ${{ needs.check_for_component_changes.outputs.web == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "12"
      - name: Install dependencies
        run: npm ci
      - name: test
        run: ls src/__tests__/__snapshots__/
      - name: Unit tests w/ coverage
        run: npm run test -- --coverage --passWithNoTests
      - name: LINTing
        run: npm run lint -- --quiet -f codeframe
      - name: Prettier
        run: npm run format -- --check

      - name: Check test result
        if: ${{ failure() }}
        env:
          ROCKETCHAT_MESSAGE: "There was an error in the registry app web tests during the ${{ github.workflow }} workflow.  See: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        run: |
          curl -X POST -H 'Content-Type: application/json' --data '{"text":"${{ env.ROCKETCHAT_MESSAGE }}"}' "${{ secrets.ROCKETCHAT_HOOK_URL }}"
          exit 1

  web_build:
    needs: [web_test]
    if: ${{ needs.check_for_component_changes.outputs.web == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: npm install and build
        run: |
          npm ci
          npm run build --if-present
        env:
          CI: "true"

      - name: Check build result
        if: ${{ failure() }}
        run: echo "Error in build step"; exit 1

      - name: Run Cypress tests
        uses: cypress-io/github-action@v2
        with:
          start: npm start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 30
          build: npm i -D cypress
          headless: true
          working-directory: ./web

      - name: Save Cypress video files
        uses: actions/upload-artifact@v2
        with:
          name: cypress-videos
          path: web/cypress/videos

      - name: Save Cypress screenshots on failure
        #if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: cypress-screenshots
          path: web/cypress/screenshots

      - name: Check Cypress test result
        if: ${{ failure() }}
        env:
          ROCKETCHAT_MESSAGE: "There was an error in the Cypress test(s) for the registry app during the ${{ github.workflow }} workflow.  View the output and download test output files at https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        run: |
          curl -X POST -H 'Content-Type: application/json' --data '{"text":"${{ env.ROCKETCHAT_MESSAGE }}"}' "${{ secrets.ROCKETCHAT_HOOK_URL }}"
          exit 1

  web_s2i_build:
    needs: [web_build]
    if: ${{ needs.check_for_component_changes.outputs.web == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      # Build the image using the master build config
      # Get its build ID
      # Get the commit ID of that build
      # Get the SHA256 signature of the image
      # Tag the image with the commit ID and "test"
      # ---------------------------------------------
      - name: Build and tag the image
        id: build-web-image
        run: |
          oc version
          oc login --token=${{ secrets.OpenShiftToken }} --server=${{ secrets.OpenShiftServerURL }}
          oc -n platform-registry-tools start-build platsrv-registry-web-master-build --follow
          export BUILDID="$(oc -n platform-registry-tools get -o=jsonpath="{.status.lastVersion}" buildconfig platsrv-registry-web-master-build)"
          export COMMITID="$(oc -n platform-registry-tools get -o=jsonpath="{.spec.revision.git.commit}" build platsrv-registry-web-master-build-$BUILDID | cut -c1-7)"
          export IMAGESHA="$(oc -n platform-registry-tools get -o=jsonpath="{.status.output.to.imageDigest}" build platsrv-registry-web-master-build-$BUILDID)"
          oc -n platform-registry-tools tag platsrv-registry-web@$IMAGESHA platsrv-registry-web:$COMMITID platsrv-registry-web:test
          echo "::set-output name=imagesha::$IMAGESHA"

      - name: Update web image ID
        if: ${{ success() }}
        run: |
          cd platform-registry-app/overlays/test
          kustomize edit set image "registry-web-image=image-registry.openshift-image-registry.svc:5000/platform-registry-tools/platsrv-registry-web@${{ steps.build-image.outputs.imagesha }}"
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Update web image ID for Test"
          git push origin

