name: 32.Test Sandbox codebase

on:
  push:
    paths:
    - sandbox/m365mock/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-m365mock:
    runs-on: ubuntu-22.04
    timeout-minutes: 20

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Install Dependencies
      run: pnpm install --frozen-lockfile
      working-directory: sandbox/m365mock

    - name: Build the Application
      run: pnpm run build
      working-directory: sandbox/m365mock

    - name: Run Tests (Verbose)
      run: pnpm test test.ts -- --verbose
      working-directory: sandbox/m365mock
