name: 31.Test codebase

on:
  push:
    paths-ignore:
    - data-migrations/**
    - helm/**
    - terraform/**
    - tools/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-app:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Run App build
      run: npm run build
      working-directory: app

  build-email:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Run Email build
      run: npm run email-build
      working-directory: app

  test-app:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Setup Sandbox
      uses: ./.github/actions/setup-sandbox
      with:
        script: |
          cp app/.env.example app/.env.test
          npm run test --prefix app
