name: 40.Run ZAP Full Scan

on:
  workflow_dispatch:
    inputs:
      url:
        type: choice
        description: The Target URL
        options:
        - https://dev-pltsvc.apps.silver.devops.gov.bc.ca
        - https://test-pltsvc.apps.silver.devops.gov.bc.ca
        - https://pltsvc.apps.silver.devops.gov.bc.ca
        - https://registry.developer.gov.bc.ca

jobs:
  zap-scan:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    permissions:
      contents: read
      issues: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb
      with:
        ref: main

    - name: ZAP Scan
      uses: zaproxy/action-baseline@9f9f348235d6889dae834aa4b2397b1f17f6d0d9
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        target: ${{ github.event.inputs.url }}
