name: 40.Run ZAP Full Scan

on:
  workflow_dispatch:
    inputs:
      url:
        type: choice
        description: The Target URL
        options:
        - https://dev-pltsvc.apps.silver.devops.gov.bc.ca
        - https://test-pltsvc.apps.silver.devops.gov.bc.ca
        - https://pltsvc.apps.silver.devops.gov.bc.ca
        - https://registry.developer.gov.bc.ca

jobs:
  zap-scan:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    permissions:
      contents: read
      issues: write

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      with:
        ref: main

    - name: ZAP Scan
      uses: zaproxy/action-baseline@4ea3deb659d9a669dc5e5c10c49a423e8bb41420
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        target: ${{ github.event.inputs.url }}
