#Make of copy of this file without the ".example" in the name, and supply values for the parameters

# Cluster and Namespace URLS
REACT_APP_PRODUCTION_NAMESPACE_GOLD_URL=
REACT_APP_DEVELOPMENT_NAMESPACE_GOLD_URL=
REACT_APP_TEST_NAMESPACE_GOLD_URL=
REACT_APP_TOOLS_NAMESPACE_GOLD_URL=

REACT_APP_PRODUCTION_NAMESPACE_SILVER_URL=
REACT_APP_DEVELOPMENT_NAMESPACE_SILVER_URL=
REACT_APP_TEST_NAMESPACE_SILVER_URL=
REACT_APP_TOOLS_NAMESPACE_SILVER_URL=